#	--------------------------------------------------------------------
#	These groups are read by MariaDB server.
#	Use it for options that only the server (but not clients) should see
#
#	See the examples of server my.cnf files in /usr/share/mysql/

[server]

[mysqld]
datadir					= /var/lib/mysql
socket					= /var/lib/mysql/mysql.sock

default-storage-engine	= InnoDB
character-set-server	= utf8mb4
collation-server		= utf8mb4_unicode_ci

table_open_cache		= 2048
max_allowed_packet		= 32M
max_heap_table_size		= 64M
read_buffer_size		= 2M
read_rnd_buffer_size	= 16M
sort_buffer_size		= 8M
join_buffer_size		= 8M
thread_cache_size		= 8
query_cache_size		= 64M
query_cache_limit		= 2M
ft_min_word_len			= 4
tmp_table_size			= 64M

# NMU
max_connections			= 256
key_buffer_size			= 256M







default_storage_engine	= INNODB
innodb_buffer_pool_size	= 4G
max_connections			= 256
max_allowed_packet 		= 1073741824
innodb_log_file_size	= 512M
general_log				= 1
general_log_file		= /var/lib/mysql/mysql-gen.log
slow_query_log			= 1
slow_query_log_file		= /var/lib/mysql/mysql-slow.log
query_cache_type		= 0
innodb_page_size		= 16384


[mysqld_safe]
log-error		= /var/log/mariadb/mariadb.log
pid-file		= /var/run/mariadb/mariadb.pid


[client]
socket			= /var/lib/mysql/mysql.sock


[mysqldump]
max_allowed_packet	= 1073741824
quick


[mysqldump]
max_allowed_packet	= 1073741824
quick


[mysql]

[mysql_upgrade]

[mysqladmin]

[mysqlbinlog]

[mysqlcheck]

[mysqlimport]

[mysqlshow]

[mysqlslap]

